<mat-toolbar color="primary">
    <a (click)="nav.toggle()">
        <mat-icon>menu</mat-icon>
    </a>
    <h1>Lunchy McLunchface</h1>
    <button mat-raised-button [color]="'primary'" (click)="signInWithGoogle()">Sign In</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #nav [opened]=true [mode]="'side'">
        <app-lunch-places [places]="places" (change)="changeSelectedPlace($event)"></app-lunch-places>
    </mat-sidenav>
    <mat-sidenav-content>
        <h1 class="lunch-place-title" *ngIf="selectedPlace">{{ selectedPlace.name }}</h1>
        <app-lunch-item-list *ngIf="lunch.isSuccess()" [lunchItems]="lunch.lunch.items"></app-lunch-item-list>
        <div *ngIf="lunch.isNotLoaded()">
            <h2>Hello Stranger!</h2>
            <p>Why don't you start by selecting a nice lunch place from the left menu?</p>
            <p>I'im sure you will be able to find something for your taste!</p>
        </div>
        <div *ngIf="lunch.isError()">
            <h2>Well this sucks!</h2>
            <p>Looks like some guru meditation is required. Sorry for that.</p>
            <p *ngIf="selectedPlace">In the meantime, would you like to
                <a href="{{ selectedPlace.website }}" target="_blank">check</a> the website of {{ selectedPlace.name }} instead?</p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>