/* You can add global styles to this file, and also import other style files */

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

mat-toolbar {
    justify-content: space-between;
}

html, body, .mat-drawer-container {
    height: 100%;
}

mat-card {
    margin: 1em;
}